/* Formattazione pagina */
*{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 2em;
  font-weight: bolder;
}

main{
  padding: 10px;
}

/* Banner layout */
header{
  background-image: url(img/pattern.png);
  background-color: rgb(78, 160, 255);
  background-size: 50%;
}

header .logo{
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
}

header .logo img{
  width: 200px;
}

/* Author */
#author{
  color: rgb(125, 205, 240);
}

/* Date */
#date{
  font-size: 0.8em;
}

section span{
  color: rgb(154, 154, 154);
}

.caption{
  font-size: 0.9em;
}

p{
  margin-top: 20px;
  margin-bottom: 20px;
}

ul{
  margin-left: 15px;
  margin-bottom: 20px;
}

/* Tabella */
table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background-color: rgb(32, 169, 229);
  color: white;
}

.long-text{
  width: 60%;
}

.odd{
  background-color: rgb(177, 229, 242);
}

/* Footer */
footer{
  padding: 10px;
}

footer h3{
  color: rgb(154, 154, 154);
}

.footer-img-1{
  background-image: url(/style/img/monitor.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  position: relative;
}

.footer-img-2{
  background-image: url(/style/img/graph.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  position: relative;
}

.text-img{
  color: white;
  font-weight: bold;
  padding: 10px;
  position: absolute;
}