/* Banner layout */
.banner{
  height: 100px;
  background-color: rgb(78, 160, 255);
  background-image: url(img/pattern.png);
}

header img{
  height: 50px;
}

/* Author */
#author{
  color: rgb(125, 205, 240);
}

/* Date */
#date{
  font-size: 0.8em;
}

#highlight{
  background-color: yellow;
}

table{
  width: 100%;
  text-align: left;
}

thead th{
  background-color: rgb(32, 169, 229);
}

.color{
  background-color: rgb(177, 229, 242);
}

footer h3{
  color: rgb(154, 154, 154);
}

footer img{
  width: 200px;
  position: absolute;
}

.text-img{
  position: relative;
}